@font-face {
  font-family: 'Inter Regular';
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Bold';
  src: url("../fonts/Inter-Bold.eot");
  src: url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter Regular', sans-serif;
  background: #ffffff url("../img/bg.png") no-repeat;
  background-size: cover;
}

body, h1, h2, p {
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: auto;
}

.wrap {
  max-width: 1072px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-bottom: 23px;
}

.title {
  font-family: 'Inter Bold', sans-serif;
  position: relative;
  width: 644px;
  font-size: 56px;
  line-height: 68px;
  text-transform: uppercase;
  color: #118976;
  text-shadow: 2px 2px 0px #FFFFFF;
  margin-bottom: 62px;
}

.advantages {
  margin-bottom: 80px;
  position: relative;
}

.advantages__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 49px;
}

.advantage__icon {
  width: 54px;
  height: 50px;
  margin-right: 25px;
}

.advantage__title {
  width: 277px;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.medicine {
  position: absolute;
  width: 176px;
  height: 388px;
  left: 479px;
  top: -100px;
  background: url("../img/medicine.png") no-repeat;
}

.column__right {
  padding-top: 111px;
}

.form__wrap {
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 368px;
  height: 553px;
}

.form__title {
  font-family: 'Inter Bold', sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #333333;
  padding-top: 24px;
  padding-bottom: 12px;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__subtitle {
  font-family: 'Inter Bold', sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #FF2C2C;
  margin-bottom: 4px;
}

.form__price {
  font-family: 'Inter Bold', sans-serif;
  font-size: 38px;
  line-height: 42px;
  color: #FF2C2C;
  margin-bottom: 88px;
}

.form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__remark {
  font-size: 12px;
  line-height: 20px;
  color: #828282;
}

.form__select {
  position: relative;
}

.form__select:after {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url("../img/select.svg") no-repeat;
  width: 13px;
  height: 7px;
  position: absolute;
  top: 19px;
  right: 70px;
}

.form__select select {
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 30px;
}

.form__input {
  cursor: pointer;
  border: 1px solid #089C84;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  width: 254px;
  height: 42px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  padding: 0 19px;
  margin-bottom: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form__input:nth-last-child(2) {
  margin-bottom: 21px;
}

.form__btn {
  border: none;
  background: #FF272B;
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 254px;
  height: 56px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 16px;
  cursor: pointer;
}

.form__btn:hover {
  width: 270px;
  background: #c90407;
}

@media (max-width: 1199px) {
  .container {
    max-width: 991px;
  }
  .wrap {
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .column__right {
    padding-top: 0;
    padding-bottom: 100px;
  }
}

@media (max-width: 480px) {
  body {
    background-position: 77% 0%;
  }
  .container {
    max-width: 480px;
  }
  .wrap {
    max-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo {
    margin-top: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title {
    width: 255px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-shadow: 2px 2px 0px #FFFFFF;
  }
  .column__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 74px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .advantages__advantage {
    margin-bottom: 20px;
  }
  .advantage__title {
    width: 170px;
    font-size: 18px;
    line-height: 24px;
  }
  .medicine {
    position: static;
  }
}
